@import "~bootstrap/scss/bootstrap";
@import "./dore/dore.light.blue";
@import "~simple-line-icons/dist/styles/simple-line-icons";
@import "../fonts/iconsmind/iconsmind";
@import "~fullcalendar/main.css";
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-responsive-bs4/css/responsive.bootstrap4.css";
@import "~select2/dist/css/select2.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "~nouislider/distribute/nouislider.css";
@import "~bootstrap-float-label/dist/bootstrap-float-label.css";
@import "./vendor/bootstrap-stars.css";
@import "~@adactive/bootstrap-tagsinput/dist/bootstrap-tagsinput.css";
@import "~@adactive/bootstrap-tagsinput/dist/bootstrap-tagsinput-typeahead.css";
@import "./vendor/component-custom-switch.min.css";
@import "~cropper/dist/cropper.css";
@import "~dropzone/dist/dropzone.css";
@import "~jquery-contextmenu/dist/jquery.contextMenu.css";
@import "~quill/dist/quill.snow.css";
@import "~select2/dist/css/select2.css";
@import "~select2-theme-bootstrap4/dist/select2-bootstrap.css";
@import "~slick-carousel/slick/slick.css";
@import "~video.js/dist/video-js.css";
@import "custom";
